/* Global */
:root {
    --desaturated-green: #4d96a9;
    --bright-blue: #8fe3f9;
    --dark-purple: #855fb1;
    --light-purple: #d9b8ff;
    --almost-black: #28283d;
    --almost-white: #fafafa;
    --almost-gray: #87879d;
    --intermission-circle-height: 3.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */
.h1 {
    font: 900 4rem/4rem 'Red Hat Display', sans-serif;
    color: var(--almost-black);
}

.h2 {
    font: 900 2.5rem/2.75rem 'Red Hat Display', sans-serif;
    color: var(--almost-black);
}

.h3 {
    font: 900 2rem/2.25rem 'Red Hat Display', sans-serif;
    color: var(--almost-black);
}

.body {
    font: 500 1rem/1.625rem 'Red Hat Display', sans-serif;
    color: var(--almost-gray);
}

.h4 {
    font: 900 1rem/1.625rem 'Red Hat Display', sans-serif;
    color: var(--desaturated-green);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

/* Buttons */
.btn {
    width: 12rem;
    height: 3.5rem;
    border: none;
    border-radius: 1.8125rem;
    font: 900 1rem/1.625rem 'Red Hat Display', sans-serif;
    color: white;
}

.btn-green {
    background-color: var(--desaturated-green);
}

.btn-green>span {
    color: var(--bright-blue);
}

.btn-green:hover {
    background: #71c0d4;
}

.btn-purple {
    background-color: var(--dark-purple);
}

.btn-purple>span {
    color: var(--light-purple);
}

.btn-purple:hover {
    background: #b18bdd;
}

/* Layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.logo {
    display: block;
    width: 7.5rem;
    height: 1.75rem;
    margin: 3rem 8rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.hero {
    width: 26rem;
    height: 9.5rem;
}

/* TODO: Find a better way to do this */
img.desktop-hero-left {
    display: none;
}

/* TODO: Find a better way to do this */
img.desktop-hero-right {
    display: none;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1.5rem;
}

.introduction>h1 {
    text-align: center;
}

.introduction>p {
    margin-top: 1.5rem;
    text-align: center;
}

.introduction>.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.introduction>.buttons>button:not(:first-child) {
    margin-top: 1rem;
}

.intermission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.intermission.second {
    margin-bottom: calc(var(--intermission-circle-height) * -0.5);
}

.intermission>img {
    width: 0.0625rem;
    height: 5.25rem;
}

.intermission>.between {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 100%;
    width: var(--intermission-circle-height);
    height: var(--intermission-circle-height);
    font: 900 1rem/1.625rem 'Red Hat Display', sans-serif;
    color: var(--almost-gray);
    background: white;
}

.people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5rem;
    margin: 1.5rem;
}

.people>img {
    width: 100%;
    max-height: 100%;
    border-radius: .5rem;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.5rem 1.5rem 0 1.5rem;
}

.features>h4 {
    text-align: center;
}

.features>h3 {
    margin-top: 1.5rem;
    text-align: center;
}

.features>p {
    margin-top: 2rem;
    text-align: center;
}

.action {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem 4.5rem 1.5rem;
    height: calc(100vw / 23.4375 * 26.75);
}

.action>img {
    background-image: url("./assets/mobile/image-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}

.action>.veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--desaturated-green);
    z-index: -2;
}

.action>h1 {
    text-align: center;
    color: white;
    margin: 5.75rem 1.5rem 0 1.5rem;
}

.action>p {
    margin: 1.5rem 1.5rem 0 1.5rem;
    text-align: center;
    color: white;
}

.action>button {
    margin-top: 2rem;
}

@media screen and (min-width: 375px) {
    .introduction {
        max-width: 28.5625rem;
        max-height: 16.375rem;
        margin: 4.5rem 9.75rem 0 9.75rem;
    }

    .introduction>.buttons {
        flex-direction: row;
    }

    .introduction>.buttons>button:not(:first-child) {
        margin: 0 0 0 1rem;
    }

    .intermission {
        margin-top: 5rem;
    }

    /* TODO: Can we do this with flexbox instead? */
    .people {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
        grid-gap: 0.2rem;
        margin: 1.5rem;
    }

    .features {
        margin: 2.5rem 7.5rem 0 7.5rem;
        max-width: 36rem;
    }

    .action {
        height: 26.75rem;
        width: 100%;
    }

    .action>img {
        background-image: url("./assets/tablet/image-footer.jpg");
    }

    .action>h1 {
        max-width: 28.5625rem;
    }

    .action>p {
        max-width: 35.8125rem;
    }
}

@media screen and (min-width: 1440px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 8rem;
    }

    img.hero {
        display: none;
    }

    img.desktop-hero-left {
        display: block;
        height: 20rem;
    }

    img.desktop-hero-right {
        display: block;
        height: 20rem;
    }

    .people {
        margin: 4.5rem 10rem;
        grid-gap: 1.5rem;
    }

    .people>img {
        height: 15.125rem;
    }

    .action {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

    .action>img {
        background-image: url("./assets/desktop/image-footer.jpg");
        background-size: contain;
    }

    .action>h1 {
        max-width: 21.875rem;
        margin: 0;
        text-align: start;
    }

    .action>p {
        max-width: 21.875rem;
        margin: 0;
        text-align: start;
    }

    .action>button {
        margin: 0;
    }
}
